<div style="
  display:flex; flex-direction:column; min-width:220px; height:100%;
">
  <div>
    <span style="font-size:1.6em;"><a class="a-none" href="/">UI BOOK</a></span>
  </div>
  <div class="group" style="margin-top:30px;"> 
    <span class="group-name" style="font-size:1em;">Design System</span>
    <div class="group-item">

      <div class="group">
        <span class="group-name">Grid</span>
        <div class="group-item">
          <div style="font-size:.9em"> <a href="/design-system/grid/padding"> Padding </a> </div>
          <div style="font-size:.9em"> <a href="/design-system/grid/margin"> Margin </a> </div>
          <div style="font-size:.9em"> <a href="/design-system/grid/examples"> Examples </a> </div>
        </div>
      </div>

      <div class="group">
        <span class="group-name">Colors</span>
        <div class="group-item">
          <div style="font-size:.9em"> <a href="/design-system/colors/scheme"> Scheme </a> </div>
          <div style="font-size:.9em"> <a href="/design-system/colors/examples"> Examples </a> </div>
        </div>
      </div>

      <div class="group">
        <span class="group-name">Fonts</span>
        <div class="group-item">
          <div style="font-size:.9em"> <a href="/design-system/fonts/size"> Size </a> </div>
          <div style="font-size:.9em"> <a href="/design-system/fonts/color"> Color </a> </div>
          <div style="font-size:.9em"> <a href="/design-system/fonts/examples"> Examples </a> </div>
        </div>
      </div>

      <div class="group">
        <span class="group-name">Box</span>
        <div class="group-item">
          <div style="font-size:.9em"> <a href="/design-system/box/outline"> Outline </a> </div>
          <div style="font-size:.9em"> <a href="/design-system/box/background"> Background </a> </div>
          <div style="font-size:.9em"> <a href="/design-system/box/examples"> Examples </a> </div>
        </div>
      </div>

    </div>
  </div>
  <div style="margin-top:15px;"></div>
  
  <div class="group"> 
    <span class="group-name" style="font-size:1em;"> Components </span>
    <div class="group-item">

      <div class="group"> 
        <span class="group-name" style="font-size:1em;"> Input </span>
        <div class="group-item">
          {# <div style="font-size:.9em"> <a href="/components/radio-group">RadioGroup</a> </div>
          <div style="font-size:.9em"> <a href="/components/selectbox"> SelectBox </a> </div>
          <div style="font-size:.9em"> <a href="/components/checkbox"> Checkbox </a> </div>

          <div style="font-size:.9em"> <a href="/components/img-input"> ImgInput </a> </div>
          <div style="font-size:.9em"> <a href="/components/icon-selector"> IconSelector </a> </div>
          <div style="font-size:.9em"> <a href="/components/number-input"> NumberInput </a> </div> #}
          <div style="font-size:.9em"> <a href="/components/text-input"> TextInput </a> </div>
          <div style="font-size:.9em"> <a href="/components/textarea"> TextArea </a> </div>
        </div>
      </div>
      <div class="group"> 
        <span class="group-name" style="font-size:1em;"> Button </span>
        <div class="group-item">
          <div style="font-size:.9em"> <a href="/components/button"> Button </a> </div>
        </div>
      </div>

    </div>
  </div>
</div>

<style>
  .group {
    margin-bottom: 8px;
  }
  .group-item {
    padding-left:8px;
  }
  .group a {
    display: block;
    color: inherit;
    text-decoration: none;
    height: 20px;
  }
  .group a:hover {
    font-size: 110%;
    transition: font-size .1s ease;
  }

  .a-none {
    color: inherit;
    text-decoration: none;
  }
</style>
