{% extends "layout/designSystem/default.njk" %}
{% block DesignSystemTitle%}
  <div>
    Grid System - Padding 
  </div>
{% endblock %}

{% block DesignSystemDescription %}
  <span>Padding is usually used for white space between border. Doesn't use this is for getting gap between components. </span>
{% endblock %}

{% block DesignSystemContent %}
  <div style="font-size:1.6em; margin-bottom:16px;">Colors</div>
  <div style="padding-left:8px;">
    See <a href="/design-system/colors/scheme#BackgroundColors">this</a>
  </div>
{% endblock %}
