{% extends "layout/default.njk" %}

{% block SideNav %}
{% include "includes/sidenav.njk" %}
{% endblock %}

{% block Header %}
{% include "includes/header.njk" %}
{% endblock %}

{% block Content %}

{% endblock %}