{% extends "layout/content/component.njk" %}
  
{% block ComponentTitle1 %}
  <div> Input </div> 
{% endblock %}
{% block ComponentTitle2 %}
  <div"> TextInput </div> 
{% endblock %}

{% block Component %}
  <text-input-component id="TextInputExample" label="Title" placeholder="Insert a title."></text-input-component>
{% endblock %}

{% block ComponentDescription %}
  <div>
    This is a button component.
  </div>
{% endblock %}

{% block ComponentExample %}
  {% set filename = "index.html" %}
  {% set language = "language-html" %}
  {% set code = '
  <text-input-component id="TextInputExample" label="Title"></text-input-component>
  <script>
    const text_input = document.getElementById("TextInputExample");
    text_input.addEventListener("click", ()=>{
      console.log(text_input.value);
    });
  </script>
  ' %}
  {% include "includes/components/example.njk" %}

<script>
  const text_input = document.getElementById("TextInputExample");
  text_input.addEventListener("click", ()=>{
    console.log(text_input.value);
  });
</script>
{% endblock %}
