{% extends "layout/designSystem/examples.njk" %}
{% block DesignSystemTitle%}
  <div>
    Colors - Examples
  </div>
{% endblock %}

{% block DesignSystemContent %}
  <div style="font-size:1.6em; margin-top:16px; margin-bottom:16px;">Article Box</div>
  
  <div style="border: 1px solid #afafaf; padding: 12px 24px 12px 24px; display:inline-block; border-radius:3px; width: 300px;">
    <div style="font-size:1.6em; margin-bottom:16px;">Examples</div>
    <div style="margin-bottom:8px;">This is Example Article...</div>
    <div style="display:flex; justify-content:space-between; align-items:center;">
      <div style="display:flex; align-items:center;">
        <img style="border-radius:50%; border:2px solid #73B6F8; padding:1px; box-sizing:border-box;" src="http://via.placeholder.com/32x32">
        <div style="margin-left:4px; color:4a4a4a;">Quasar</div>
      </div>
      <div style="color:6a6a6a;">30mins ago</div>
    </div>
    <div style="display:flex; justify-content:end; align-items:center;">
    </div>
  </div>
{% endblock %}