{% extends "index.njk"%}

{% block Content %}
  <div style="font-size:2em; margin-bottom:50px;">
    {% block DesignSystemTitle %}
    {% endblock %}
  </div>

  {% block DesignSystemContent %}
  {% endblock %}
{% endblock %}