<meta name="viewport" content="width=device-width, initial-scale=1">

<div style="display:flex;height:100%;">

  <div style="padding-top:32px; padding-left: 16px; background:#fafafa;">
    {% block SideNav %}
    {% endblock %}
  </div>

  <div style="display:flex; flex-direction:column; flex-grow:1; padding-top:32px; padding-left: 16px;">
    <div style="flex-grow:1">

      <div>
        {% block Header %}
        {% endblock %}
      </div>
      
      <div style="padding-left:32px;">
        {% block Content %}
        {% endblock %}
      </div>

    </div>
  </div>

</div>

<style>
  body {
    margin: 0px;
  }
</style>

<script src="/static/js/client.js"></script>
