{% extends "layout/designSystem/default.njk" %}
{% block DesignSystemTitle%}
  <div>
    Fonts - Color
  </div>
{% endblock %}

{% block DesignSystemDescription %}
  <div style="padding-left:8px;">
    <span>Basically font color is gray scale. but for ponting use font color. </span>
  </div>
{% endblock %}

{% block DesignSystemContent %}
  <div style="font-size:1.6em; margin-bottom:16px;">Gray Scale Color</div>
  <div style="padding-left:8px;">
    See <a href="/design-system/colors/scheme#FontColors">this</a>
  </div>

  <div style="font-size:1.6em; margin-top:16px; margin-bottom:8px;">Theme Color</div>
    <div style="font-size:1.4em; margin-bottom:8px; padding-left:8px;">Active Color</div>
      <div style="padding-left:16px;">
        <div style="color: #73B6F8;">Active Color #73B6F8;</div>
        <div style="color: #777;">Non Active Color #777;</div>
      </div>
    </div>
    <div style="font-size:1.4em; margin-top:8px; margin-bottom:8px; padding-left:8px;">Point Color</div>
      <div style="padding-left:16px;">
        <div style="color: #5a8fc4;">Point Primary Color #5a8fc4;</div>
        <div style="color: #de8c3a;">Point Second Color #de8c3a;</div>
      </div>
    </div>
  <div>

  </div>
{% endblock %}